*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nanum Gothic', sans-serif;
 
 }

 .nav-link  {
  text-decoration: none;
}

.App{
  
}

body {
  background-color: #282c34;
}

a{
  color: white;
  text-decoration: none;
}

h2{
  color: azure;
}